/*  your css code here. If applicable */
.container {
	margin: 0px;
	padding: 10px;
	background-color: black;
width:100%;
	display: grid;
	grid-template-columns: repeat(100,10%);
	grid-template-row: repeat(100,10%);
	row-gap:10px;
	
}
.square {
	height: 50px;
	width: 50px;
	background-color: grey;
}

.square:hover {
	background-color: red;
	transition-duration: 1s;
}
