*{
	   box-sizing: border-box;
}
.container {
	margin: 1px;
	padding: 40px 30px;
	background-color: black;

	display: inline-grid;
	grid-template-columns: repeat(40,1fr);
	grid-template-row:auto auto auto;
	grid-gap:3px;
	
}
.square {
	height: 13px;
	width: 13px;
	background-color: #1d1d1d;
	transition: 2s ease;
}

.square:hover {
	background-color: red;
	transition-duration: 1s ease;
}