/*  your css code here. If applicable */
.container {
	margin: 1px;
	padding: 3px;
	background-color: black;
width:auto-flow;
	display: grid;
	grid-template-columns: repeat(40,3%);
	grid-template-row: repeat(20,3%);
	row-gap:3px;
	column-gap: 3px;
	
}
.square {
	height: 10px;
	width: 10px;
	background-color: grey;
}

.square:hover {
	background-color: red;
	transition-duration: 1s;
}
